body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;

}

.visually-hidden {
    display: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.button-find-hotel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  width: 568px;
  height: 86px;
}

.button-booking {
  padding: 8px 16px;
  background-color: #766357;
}

.button-find {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
}

.button-more {
  padding: 8px 17px;
  background-color: #81b3d2;
}

.button-show {
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 141px;
  height: 40px;
}

.button-show:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-find-hotel:hover,
.button-booking:hover {
  background-color: #604e43;
}

.button-find-hotel:active,
.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.302);
}

.button-find:hover,
.button-more:hover {
  background-color: #669ec0;
}

.button-find:active,
.button-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.302);
}

.main-nav {
  position: relative;
  height: 56px;
  width: 100%;
  max-width: 1200px;
  font-size: 14px;
  color: #000000;
  line-height: 26px;
}

.site-nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  width: 20%;
}

.site-nav li:nth-child(1),
.site-nav li:nth-child(1) {
  text-align: left;

}
.site-nav li:nth-child(3),
.site-nav li:nth-child(4) {
  text-align: right;
}

.main-header-logo {
  width: 140px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
}

.site-nav a{
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.site-nav a:hover {
  color: rgb(129, 179, 210);
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.302)
}

.site-nav .actived {
  color: rgb(118, 99, 87);
}

.sedona {
  min-width: 900px;
  max-width: 1200px;
  height: 509px;
  text-align: center;
  background-image: url("../img/bg-sedona.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sedona:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/bg-sedona-decor.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.sedona .sedona-text {
  margin-top: 80px;
}

h1 {
  margin-top: 60px;
  margin-bottom: 32px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.reasons {
  color: rgb(51, 51, 51);
  text-align: center;
}


.reason-list,
.features-list,
.sorting,
.hotel-list,
.rating-star {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.reason-list {
  margin: 0;
  margin-top: 58px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


.reason-image {
  display: flex;
  width: 100%;
  min-height: 258px;
}

.reason-item {
  width: 33.3%;
  min-height: 258px;
  background-color: #eeeeee;
}

.reason-one-image {
  background-image: url("../img/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 77%;

}

.reason-blue {
  text-align: center;
  width: 33%;

}

.reason-two-image {
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 77%;
}

.reason-list li:not(:nth-child(1)) {
  order: 2;
}

.reason-list li:nth-child(6) {
  order: 1;
}

.features-list {
  display: flex;
  min-width: 900px;
  min-width: 1200px;
  min-height: 330px;
}

.features-item {
  width: 33.4%;
  min-height: 258px;
}

.reason-image {
  width: 100%
}

.reason-item,
.features-item,
.hotel-info p {
  color: rgb(51, 51, 51);
  text-align: center;
  line-height: 21px;
}

.reason-item h3,
.features-item h3 {
  font-size: 21px;
  font-weight: bold;
}

.reason-image {
  background-color: #81b3d2;
  color: #ffffff;
}

.booking {
  box-sizing: border-box;
  position: relative;
  min-height: 293px;

}

.booking h3 {
  margin: 0px;
  padding-top: 58px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

.booking p {
  color: rgb(51, 51, 51);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
}

.main-booking-form {
  position: absolute;
  bottom: -394px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 568px;
  height: 396px;
  background-color: #ffffff;
}

.main-booking-form input {
  padding-left: 13px;
  font: inherit;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.main-booking-form input:hover {
  background-color: #ebebeb;
}

.main-booking-form input:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}

.map {
  min-width: 900px;
  max-width: 1200px;
  min-width: 595px;
}

.filter-hotel {
  color: #ffffff;
  background-color: #414a51;
  background-image: url("../img/bg-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sorting-hotel-list {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid red;
}

.sorting {
  display: flex;
  margin-left: 457px;
}

.hotels h3 {
  font-size: 21px;
  font-weight: bold;
}

.hotels > p {
  font-size: 12px;
  line-height: 18px;
}

.sorting a {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px dashed #81b3d2;
}

.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

.sorting .actived{
  color: #81b3d2;
  border: none;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-list li {
  width: 100%;
  outline: 2px solid black;
}

.rating-hotel .rating {
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
  text-align: center;
}

.hotels .hotel-name {
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.hotels .hotel-name:hover {
  color: #81b3d2;
}

.hotels .hotel-name:active {
  color: rgba(0, 0, 0, 0.302);
}

.visitsedona a {
  color: #000000;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.hashtag-sedona {
  width: 33.3%;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.footer-social {
  width: 33.3%
}

.main-footer .social-list {
  list-style: none;
  text-align: center;
}
.social-list a {
  color: #000000;
}

.footer-copyright {
  width: 33.3%;
  text-align: center;
}
